.main-navigation {
	clear: both;
	display: block;
	//float: left;
	width: 100%;

	@include mappy-bp(screen-md) {
	    display: flex;
	    flex-direction: column;
	    text-align: right;
	    justify-content: flex-end; 
	    margin: 0;
	}

	.nav-inner {
		background-color: $blue-light;
		height: 100vh;
		width: 100%;
		padding: 0;
		text-align: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
		display: flex;
		align-items: center;
		justify-content: center;

		@include mappy-bp(screen-md) {
			background-color: transparent;
			height: auto;
			width: auto;
			position: relative;
			padding: 0;
			text-align: left;
			display: flex;
			align-items: flex-end;
			flex-direction: column-reverse;
		}
	}

	ul {
		@include reset-list();
	}

	ul ul {
		background-color: $main-nav-submenu-bg;
		margin: 0 0 0 0.5em;

		@include mappy-bp(screen-md) {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			margin: 0;
		}
	}

	ul ul ul {
		@include mappy-bp(screen-md) {
			left: -999em;
			top: 0;
		}
	}

	ul ul li:hover > ul,
	ul ul li.focus > ul {
		left: 100%;
	}

	ul ul a {
		width: 200px;
	}

	ul li:hover > ul,
	ul li.focus > ul {
		left: auto;
	}

	ul li {
		@include mappy-bp(screen-md) {
		  display: inline-block;
		  position: relative;
		}
	}

	a {
		display: block;
		padding: 0 0.25em;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 220%;
		font-weight: 700;

		@include mappy-bp(screen-md) {
			font-size: 100%;
			font-weight: 400;
		}

		&:hover {
			color: $blue;

			@include mappy-bp(screen-md) {
				color: $blue-light;
			}
		}
	}

	.menu-button {
		@include mappy-bp(screen-md) {
			margin-left: 10px;	
		}

		a {
			@include mappy-bp(screen-md) {
				@include btn();	
			}

			&:hover {
				@include mappy-bp(screen-md) {
					background-color: #fff;	
					color: $blue;
				}
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

	.current-menu-item > a {
		color: $main-nav-active-color;
	}
}

.menu-toggle {
	position: absolute;
	z-index: 300;
	top: 1.5em;
	right: 2.5%;
	display: inline-block;
	width: auto;
	background-color: transparent;
	border: none;
	padding: 1em;

	&:before {
		display: none;
	}

	&:hover {
		background-color: transparent;
	}

	.label {
		display: none;
	}

	.burger-line {
		@include transition-default();
		display: block;
		width: 37px;
		height: 3px;
		background-color: $c-link;

		&:nth-child(3) {
			margin: 5px 0;
		}
	}


	&:hover {
		.burger-line {
			//background-color: white;
		}
	}


  @include mappy-bp(screen-md) {
    display: none; 
  }
}

.main-navigation {
	.nav-inner {
		display: none;

		@include mappy-bp(screen-md) {
		  display: flex; 
		}

	}

	&.toggled {
		.nav-inner {
			display: flex;

			@include mappy-bp(screen-md) {
				display: flex;
			}
		}
	}
}

#masthead .main-navigation.toggled {

	.burger-line {
		background-color: #fff;
	}

  .burger-line:nth-child(2) {
    transform: rotate(45deg);
  }

  .burger-line:nth-child(3) {
    transform: rotate(-45deg);
    margin: -4px 0 0 0;
  }

  .burger-line:nth-child(1) {
    opacity: 0;
  }

  .burger-line:nth-child(4) {
  	opacity: 0;
  }

  .nav-inner {
    right: 0;
  }
  
}
