.page-template-gdpr {

	main {
	    width: 90%;
	    max-width: 800px;
	    margin: 2em auto;
	    padding: 4em 0 2em;
	}

	div.cta {
		margin: 2em 0 4em;
		text-align: center;
	}

	.main-navigation a {
		color: $blue;
	}

} 