.page-template-homepage {

	section {
		h2,
		.title {
			font-family: $f-title;
			color: $blue;
			text-transform: uppercase;
			font-size: 350%;
			line-height: 0.9;
			margin: 0 0 0.25em;

			@include mappy-bp(screen-md) {
				font-size: 500%;	
			}

			@include mappy-bp(screen-lg) {
				font-size: 550%;	
			}

			span {
				@include mappy-bp(screen-sm) {
					display: block;	
				}
			}
		}

		.cta {
			margin: 2em 0 0;
		}
	}

	section#stick {
		position: relative;
		width: 100%;
		height: 85vh;
		display: flex;
		align-items: center;
		justify-content: center;

		figure.background {
			position: absolute;
			z-index: 1;
			overflow: hidden;
			width: 100%;
			height: 85vh;
			top: 0;
			left: 0;

			img {
				display: block;
				width: 100%;
				height: 85vh;
				object-fit: cover;
				object-position: center center;
			}
		}

		figure.logo {
			width: 70%;
			position: relative;
			z-index: 2;

			@include mappy-bp(screen-md) {
				width: 50%;	
			}

			img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		.accroche {
			width: 150px;
			height: 150px;
			border-radius: 150px;
			line-height: 150px;
			background-color: $blue-light;
			color: white;
			text-transform: uppercase;
			font-family: $f-title;
			font-weight: 900;
			font-size: 120%;
			letter-spacing: 2px;
			text-align: center;
			position: absolute;
			left: calc(50% - 75px);
			bottom: -80px;
			z-index: 2;
			box-shadow: 0 5px 15px 12px rgba(0,0,0,.25);

			@include mappy-bp(screen-lg) {
				width: 190px;
				height: 190px;
				border-radius: 190px;
				line-height: 190px;
			}

			&:after {
				content: '';
				width: 160px;
				height: 160px;
				border-radius: 160px;
				background-color: transparent;
				border: 5px solid $blue-light;
				position: absolute;
				top: -10px;
				left: -10px;
				z-index: 1;

				@include mappy-bp(screen-lg) {
					width: 200px;
					height: 200px;
					border-radius: 200px;
				}
			}

			a {
				display: block;
				width: 100%;
				height: 100%;
				color: white;
				text-decoration: none;
				position: relative;
				z-index: 2;
				//font-size: 51px;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				b,
				span {
					display: block;
					line-height: 0.9;

					// &:nth-of-type(2) {
					// 	font-size: 36px;
					// }
				}

				span {
					font-size: 30px;
					
					@include mappy-bp(screen-lg) {
						font-size: 50px;
					}
				}

				b {
					font-size: 75px;

					@include mappy-bp(screen-lg) {
						font-size: 110px;
					}
				}

				// @include mappy-bp(screen-lg) {
				// 	font-size: 73px;
				// }
			}
		}

	}

	#introduction {
		padding: calc(8em + 40px) 5% 6em;

		.title {
			margin: 0 0 0.25em;

			@include mappy-bp(screen-md) {
				text-align: right;	
				margin: 0 50px 0 0;
				font-size: 600%;
			}

			span {
				@include mappy-bp(screen-sm) {
					display: inline;	
				}

				@include mappy-bp(screen-md) {
					display: block;
				}
			}
		}

		.inner {
			@include mappy-bp(screen-md) {
				width: 80%;
				max-width: 700px;
				margin: 0 auto;
				display: flex;
				align-items: flex-start;	
			}
		}
	}

	#sponsors {
		background-color: $c-background_colored;
		display: flex;
		flex-direction: column;
		padding: 6em 0 0;
		position: relative;

		@include mappy-bp(screen-sm) {
			flex-direction: row-reverse;	
			padding: 0;
		}

		figure {
			margin: 6em 0 0;

			@include mappy-bp(screen-sm) {
				width: 40%;	
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				margin: 0;
			}

			@include mappy-bp(screen-md) {
				width: 60%;	
			}

			img {
				display: block;
				width: 100%;
				height: auto;

				@include mappy-bp(screen-sm) {
					height: 100%;	
					object-fit: cover;
					object-position: bottom right;
				}
			}
		}

		.content {
			padding: 0 5%;
			
			@include mappy-bp(screen-sm) {
				width: 60%;	
				margin: 4em 10% 8em 30%;
			}

			@include mappy-bp(screen-md) {
				width: 50%;
				margin: 4em 5% 8em 50%;	
			}

			@include mappy-bp(screen-lg) {
				margin: 6em 10% 10em 50%;	
			}
		}
	}

	#supporters {
		padding: 6em 0;

		.inner {
			@include container();

			@include mappy-bp(screen-sm) {
				display: flex;
				align-items: center;
				justify-content: space-between;	
				flex-wrap: wrap;
			}
		}

		figure {
			margin: 4em 0 0;

			@include mappy-bp(screen-sm) {
				width: 40%;	
			}

			img {
				display: block;
				width: 100%;
			}
		}

		.content {
			@include mappy-bp(screen-sm) {
				width: 50%;	
			}

			@include mappy-bp(screen-md) {
				width: 40%;	
			}
		}
	}

	#participer {
		background: url('img/background-dark.jpg') top center no-repeat;
		background-size: cover;
		padding: 6em 0;
		color: white;
		text-align: center;

		h2 {
			color: white;
		}

		.inner {
			@include container();
		}

		ul {
			@include reset-list();
		}

		.type-selector {
			width: 80%;
			max-width: 320px;
			margin: 2em auto;

			li {
				margin: 1em 0;
			}

			button {
				display: block;
				width: 100%;
				font-size: 110%;
			}
		}

		ul.supporter-choice,
		ul.sponsor-choice {
			width: 100%;
			margin: 4em 0 0;

			@include mappy-bp(screen-sm) {
				display: flex;	
				flex-direction: row;
				flex-wrap: wrap;
			}

			li {
				margin: 0 auto 2em;
				width: 98%;
				position: relative;

				@include mappy-bp(screen-sm) {
					width: 33.3333333%;	
					padding: 0 1%;	
				}
			}

			input[type="checkbox"] {
				position: absolute;
				top: 0;
				left: 0;
				visibility: hidden;
			}

			label {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				background-color: transparent;
				border: 1px solid white;
				padding: 1em 2em;
				border-radius: 3px;

				@include mappy-bp(screen-sm) {
					min-height: 300px;
				}

				@include mappy-bp(screen-md) {
					min-height: 250px;
				}

				.picto {
					display: inline-block;
					width: 70px;
					height: 70px;
					border-radius: 100px;
					background-color: #fff;
					margin: 0 auto;

					display: none;
				}

				.choice-title,
				.choice-price,
				.choice-description {
					font-weight: 400;
					text-transform: none;
					margin: 1em 0 0;
				}

				.choice-title {
					text-transform: uppercase;
					font-weight: 700;
					font-size: 130%;
					margin: 0;

					span {
						@include mappy-bp(screen-md) {
							display: block;
						}
					}
				}

				.choice-price {
					font-size: 130%;
				}

				.choice-description {
					font-style: italic;
				}

				&:hover {
					border-color: $blue-light;

					// .picto {
					// 	background-color: $blue;
					// }

					// .choice-title,
					// .choice-price,
					// .choice-description {
					// 	color: $blue;
					// }
				}
			}

			input[type="checkbox"]:checked + label {
				background-color: $blue-light;
				border-color: $blue-light;
			}

		}

		button.valid-formula {
			font-size: 130%;
			margin: 0 0 1em;
		}

		.all-slides {
			// .owl-item slide { height: 0; }    
			// .owl-item.active slide { height: auto;}
		
			.slide-prev {
				display: inline-block;
				padding: 0.5em 1em;
				border: 1px solid white;
				border-radius: 3px;
				margin: 1em 0 0;
				cursor: pointer;

				&:hover {
					background-color: $blue-light;
				}
			}
		}

		.slide {
			position: relative;
			//width: 100%;
			//height: 100vh;
			//overflow: hidden;
		}

		#slide-choice {
			& > div {
				display: none;
			}
		}

		#slide-form {
			h2 {
				line-height: 1.2;
			}

			.your-selection {
				background-color: $blue-light;
				text-align: left;
				padding: 1em 2em;
				border: 1px solid white;
				border-radius: 3px;
				margin: 0 0 2em;

				div {
					font-weight: 700;
				}
			}
		}

		#form-saved {
		    margin: 4em auto;
			padding: 0.75rem 1.25rem;
		    border: 1px solid #c3e6cb;
		    border-radius: 0.25rem;
			color: #155724;
	    	background-color: #d4edda;
	    	display: none;
	    	width: 100%;
	    	max-width: 700px;

	    	&.active {
	    		display: block;
	    	}
		}

		.error-msg,
		.wait {
			padding: 0.5em 1em;
		    border: 1px solid white;
		    border-radius: 3px;
			visibility: hidden;
		}

		.error-msg {
			margin: 1em 0;
			color: $red;
			border-color: $red;
		}

		form {
			width: 100%;
			max-width: 700px;
			margin: 0 auto;
			padding: 0 5%;

			> div {
				label {
					text-align: left;
					text-transform: uppercase;
				}
			}

			.form-submit {
				input[type="submit"] {
					font-size: 130%;
				}
			}

			.if-company {
				display: none;
			}
		}

		.disclaimer {
			span {
				@include mappy-bp(screen-md) {
					display: block;	
				}
			}
		}

	}

	#exit {
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}


}